
/OutPatientDashboard.Service/OutPatientDashboard.Service.Tests/obj
/OutPatientDashboard.Service/OutPatientDashboard.Service.Tests/bin
/OutPatientDashboard.Service/.vs
/OutPatientDashboard.Service/OutPatientDashboard.Service/bin
/OutPatientDashboard.Service/OutPatientDashboard.Service/obj