.throughputcard {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 20px 20px 20px;
    overflow: hidden;
    border: solid;
    background-color: #6a7580;
    color: white;
    overflow: visible;
  }
  
.throughputcard icon {
    width: 50%;
    height: 100%;
    border-radius: 50%;
    padding-right: 5%;
    align-content: center;
  }
  
.throughputcard .count {
    margin: 10px;
    align-content: center;
    font-size: 400%;

  }

.throughputcard img {
    width: 18%;
  }